* {
    /* margin-top: -20px; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    position: relative;
}

.header{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
    font-size: 1.7em;
    background-color: rgba(255, 166, 0, 0.891);
    font-weight: bolder;
}

.header img{
    width: 35px;
    height: 100%;
    margin: auto;
}

.header span{
    color: white;
}

#menu{
    border: 1px solid rgb(255, 255, 255);
}

#menu:hover{
    scale: 1.2;
    background: rgba(39, 25, 1, 0.891);
}

#center{
    position: relative;
    background-color: rgb(245, 245, 245);
    height: 88vh;
    z-index: 9999;
    margin-top: -19px;
    text-align: center;
    display: none;
    justify-content: center;
    /* min-height: 100vh; */
    align-items: center;
}

#center ul li{
    padding-bottom: 70px;
}

#center ul li:hover{
    text-decoration: underline;
    text-decoration-color: rgba(255, 166, 0, 0.891);
}
